a{
    text-decoration: none;
    color: #fff;
}

body{
    background-image: url("images/fond.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:inherit;
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#navbarheader{
    display: flex;
    justify-content: center;
    width:100%;
    height: 1.5em;
    background-color: rgb(71, 70, 70);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

#fond{
    position: absolute;
    color: rgb(255, 255, 255);
    left: 0.9em;
    padding-top: 0.2em;
}

#heure{
    padding-top: 0.2em;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 1px;
}
#off{
    padding-top: 0.2em;
    color: rgb(255, 255, 255);
    position: absolute;
    right:0.9em;
    z-index: 1;
}
#sessionoff{
    display:block;
    position: absolute;
    width: 12em;
    height: 3em;
    background-color: rgb(71, 70, 70);
    color: #fff;
    font-size: 1em;
    right:0;
    padding-top: 1em;
    padding-left: 1em;
    margin-top: 1.4em;
    transition: 0.6s ease-in-out;
}
.sessionoffdisplay{
    height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    transform: translateY(-4em);
    z-index: -1;
}
footer{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
#navbarfooter{
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 50em;
    width: 40%;
    height: 6em;
    background-color: white;
    opacity: 0.4;
    border-radius: 5px;
    z-index: -1;
    margin-bottom: 1em;

}

#icones{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin-bottom: 2em;
    gap: 4em;
}
#icones img{
    width: 4em;
    transition: 0.3s ease;
}
#icones i{
    font-size: 4em;
    transition: 0.3s ease;
}
#icones img:hover{
    transform: scale(1.2) translateY(-1.3em);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#icones img:active{
    filter:contrast(2);
}
#icones i:hover{
    transform: scale(1.2) translateY(-0.4em);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#icones i:active{
    filter:contrast(2);
}

/* FENETRE */
.fenetre{
    position: absolute;
    width: 100%;
    height: 1.5em;
    top:0;
    right: 0;
    border-radius: 5px 5px 0px 0px ;
    background-color: rgb(74, 74, 74);
    text-align: center;
    padding-top: 0.5em;
    font-weight: bolder;
}
.fenetre i{
    position: absolute;
    font-size: 1.2em;
    right: 0.4em;
    top: 0.25em;
    color: #ffffff;
}
.fenetre i:hover{
    color: #fba2a2;
}
/* -----------------FORMULAIRE------------------- */


form{
    position: absolute;
	display: block;
    margin-top: 3em;
    margin-left: 27%;
    margin-right: 25%;
	width: 50em;
	height: 35em;
	background-color: #2f2f2f;
	margin-bottom: 5em;
	color: white;
	border:none;
	border-radius: 5px;
	opacity: 1;
    padding: 0.5em;
    padding-top: 2em;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	/* transition : 1s ease-in-out; */
}


form i{
	font-size: 5em;
}
input{
	display: inline-block;
	width: 12.5em;
	padding: 0.4em;
	padding-left: 0.5em;
	letter-spacing: 0.3em;
	margin: 2em;
	border: none;
	border-radius: 8px;
	box-shadow:inset 7px 6px 5px -2px rgba(50, 50, 50, 0.75);
}

#champs{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}
#envoi{
	display: block;
	padding: 0.8em;
	margin: auto;
	float: inherit;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	color:#fff;
	width: 10em;
	transition: 0.5s ease;
	box-shadow:inset 7px 6px 5px -2px rgba(50, 50, 50, 0.75);
}
#envoi:hover{
	background-color: #FF3CAC;
	background-image: linear-gradient(25deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	width: 8em;
}
textarea{
	display: flex;
	width: 80%;
	height: 30em;
	margin:auto;
	margin-bottom: 1em;
	padding:0.5em;
	border: none;
	border-radius: 8px;
	letter-spacing: 0.3em;
	box-shadow:inset 7px 6px 5px -2px rgba(50, 50, 50, 0.75);
}
